 .GameInfo
{
    width:100%;
    flow-children: down;
}
 
Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #ffac0c;
    font-size: 64px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}

#BriefDescription
{
}

#BossText,
#LifeText,
#ItemsText
{
    width: 45%;
}

.Header
{
	font-size: 20px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
}

#ObjectiveHeader
{
	margin-top: 18px;
}

#Boss
{
    margin-top: -55px;
}

#BossText
{
    margin-top: 100px;
	margin-right: 10px;
	text-align: right;
}

#BossImage
{
    margin-top: 60px;
    width: 290px;
    height: 170px;
}

#Life
{
    margin-top: -100px;
}

#LifeText
{
    margin-top: 120px;
	margin-left: 180px;
}

#Items
{
    margin-top: -50px;
}

#ItemsImage
{
    width: 250px;
    height: 250px;
}

#ItemsText
{
    margin-top: 10px;
	margin-right: 10px;
	text-align: right;
}

#TipsHeader
{
	margin-top: -1px;
}

#Tips
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

.TipText
{
	margin-left: 50px;
    margin-top: 20px;
}

.Info
{
    flow-children: right;
    width: 100%;
}


Label .midas_throne,
Label .treasure
{
    color: #FF0b00;
    font-weight: bold;
}

Label .overboss,
{
    color: #5DFF00;
    font-weight: bold;
}

Label .items,
Label .gold,
Label .xp
{
    color: #fcaf3d;
    font-weight: bold;
}