.parent_sound
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#MuteButton
{
  horizontal-align: right;
  vertical-align: top;
	  margin-right: 50px;
  width: 160px;
    height: 40px;
 }

#MuteImage
{
    width: 160px;
    height: 40px;
}


#UnmuteButton
{
  horizontal-align: right;
  vertical-align: top;
  margin-right: 50px;
  width: 160px;
    height: 40px;
 }
 
#UnmuteImage
{
    width: 160px;
    height: 40px;
}